.banner {
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px 70px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}

.banner2 {
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px 70px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}

footer {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 100%;
}
